<h1>Clubs</h1>

<div class="container">

<% if @clubs.blank? %>
<p>No clubs to display</p>
<% else %>
      <% @clubs.each_slice(3) do |abc| %>
        <div class="card-deck">
          <% abc.each do |ab| %>
              <div class="card">
                  <img class="card-img-top" style="width:100%;" src="running.jpg" alt="Card image cap">
                  <div class="card-block">
                    <h4 class="card-title"><%= ab.name %></h4>
                    <p class="card-text"><%= ab.description %></p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted"><%= ab.club_type %></small>
                  </div>
              </div>
        <% end %>
    </div>
    <% end %>
<% end %>
</div>
