<div class="jumbotron">
  <div class="container">
    <div class="row">
      <h1>Welcome to ClubHub</h1>
      <p>A place to find local clubs and groups</p>
    </div>
  </div>
</div>

<% render template: 'clubs/show' %>
